html {
    height: 100%;
}

body {
    /* Evitar salto al abrir sweetalert*/
    overflow-y: scroll !important;
    display: flex;
    flex-flow: wrap;
    height: 100%;
}

nav {
    align-self: flex-start;
    width: 100%;
}

#colaboradoresUsuario {
    width: 100%;
    min-height: calc(100% - 53px);
}

footer {
    align-self: flex-end;
    opacity: 0;
}

.paginacion {
}

.colaboradores {
    margin: 5px;
}

.colaboradores a {
    display: block;
    text-decoration: none;
    color: black;
}

.colaboradores>div {
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
}

.colaboradores a {}

.card-columns {
    column-gap: 0rem;
}

/*SM*/
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

/*MD*/
@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/*LG*/
@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/*XL*/
@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

.card {
    padding: 5px;
    opacity: 0;
}

.card-body {
    padding: 5px;
}

.titulo {
    color: #37ADBB;
}

.descripcion {
    color: gray;
}

.imagen {
    max-height: 100%;
    height: 200px;  
    overflow: hidden;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 3px;
}

.imagen img {
    transition: transform .5s ease;
    height: 100%;
    width: 100%;
}

.colaborador-v:hover img,
.colaborador-h:hover img {
    transform: scale(1.1);
}

.colaborador-v .titulo {
    /*elipsis*/
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.colaborador-h .titulo {
    /*elipsis*/
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.colaborador-v .descripcion {
    /*elipsis*/
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.colaborador-h .descripcion {
    /*elipsis*/
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.colaborador-v {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.colaborador-v:nth-child(2) {
    width: 100%;
    height: 100%;
}

.colaborador-v .imagen {}

.colaborador-v .imagen img {}

.colaborador-h .imagen {
    max-width: 100%;
}
