html {
    height: 100%;
}

body {
    /* Evitar salto al abrir sweetalert*/
    overflow-y: scroll !important;
    display: flex;
    flex-flow: wrap;
    height: 100%;
}

nav {
    align-self: flex-start;
    width: 100%;
}

#colaboradorUsuario {
    width: 100%;
    min-height: calc(100% - 53px);
}

footer {
    align-self: flex-end;
    opacity: 0;
}

.feature-block {
    height: 100%;
    word-wrap: break-word;
    padding: 5px;
    border-radius: 5px;
}

.feature-block p {
    font-weight: 500;
}

.feature-block {
    background: #fff none repeat scroll 0 0;
    transition: all 0.5s ease-in-out 0s;
}

.feature-block:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out 0s;
}

.icono {
    font-size: 25px;
    color: #71c55d;
}

.direccion {
    word-wrap: break-word;
    margin: 0;
}

.telefonos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.telefonos p {
    margin: auto;
    padding: 3px;
}

.social a {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 3px;
}

.social i {
    font-weight: 600;
}

/*Nombre y descripcion*/
.presentacion {
    word-wrap: break-word;
}

.presentacion p {
    margin: 0;
}

/*Carrusel*/
.carousel-item>div {
    display: flex;
    vertical-align: middle;
    max-height: 400px;
    min-height: 400px;
    height: 400px;
    background: rgba(59, 57, 55, 0.3);
}

.carousel-item img {
    visibility: hidden;
    opacity: 0;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    margin: auto;
}
