form textarea {
  resize: none;
}

.user-select-none {
  user-select: none;
}

.cont-icono {
  line-height: 0;
  margin: 3px;
}

.cont-icono > i {
  font-size: 24.5px;
}

.tooltip {
  pointer-events: none;
}

[name=tabs] {
    overflow-wrap: break-word;
}

.cont-items {
  max-height: 200px;
  min-height: 200px;
  overflow-y: scroll;
}

.cursor-pointer {
  cursor: pointer;
}

#prevs {
  border: solid lightgray 1px;
  border-radius: 1px;
  align-items: center;
  justify-content: center;
}

.prev {
  position: relative;
}

.prevFrente {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
}

.activo {
  background-color: rgba(66, 131, 217, 0.5);
  border-radius: 5px;
}

#contPrevImg {
  display: none;
  user-select: none;
}

.img-prev  {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#dragdrop {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-width: 2;
  border-radius: 20px;
  color: #0275d8;
  border-color: gray;
  border-style: dashed;
  background-color: #fafafa;
  outline: none;
  transition: border .24s ease-in-out;
  user-select: none;
}

.cont-opt {
  position: absolute;
  background-color: rgba(243, 247, 248, 0.8);
  width: calc(100%);
  height: fit-content;
  z-index: 10000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 6px;
  padding-bottom: 3px;
}

.cont-opt-estado {
  position: relative;
  background-color: transparent;
  float: right;
}

.spinner-opt {
  width: 50px;
}
