#cargadorImagen input[type=file] {
  display: none;
  padding-bottom: 0;
}

#vizualizadorCropper {
  display: none;
}

#contenedorImg {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: whitesmoke;
}

.tiny-container {
    min-height: 700px;
    opacity: 0;
}

form textarea {
  resize: none;
}
