html {
    height: 100%;
}

body {
    /* Evitar salto al abrir sweetalert*/
    overflow-y: scroll;
    display: flex;
    flex-flow: wrap;
    height: 100%;
}

nav {
    align-self: flex-start;
    width: 100%;
}

#noticiasUsuario {
    width: 100%;
    min-height: calc(100% - 53px);
}

footer {
    align-self: flex-end;
    opacity: 0;
}

.paginacion {
}

.spinner-cont {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    visibility: visible;
    background-color: white;
}

.spinner-border {
    position: relative;
    margin: auto;
}

.noticia a {
    text-decoration: none;
    color: black;
}

.card {
    margin: 5px;
}

.card>div {
    overflow: hidden;
}

.card-body {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo {
    color: #37ADBB;
    margin-bottom: 2px;
    /*elipsis*/
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.noticia:hover img {
    transform: scale(1.1);
}

.descripcion {
    margin: 0;
    color: gray;
}

.imagen {}

.fecha {
    position: relative;
    float: bottom;
}

.fecha em {
    color: black;
}

img {
    transition: transform .5s ease;
}

/*Recientes*/
.noticias-recientes {
  margin: 0;
}

.recientes-izq {
    padding: 0;
}

.recientes-izq>.row {
    height: calc(100% - 10px);
}

.recientes-der {
    padding: 0;
}

.recientes-der .row {}

/*Noticias principales*/
.noticia-principal {
    min-height: 100%;
    height: 100%;
    padding: 5px;
}

.noticia-principal .titulo {
    font-size: 30px;
    font-weight: 500;
}

.noticia-principal .descripcion {
    /*elipsis*/
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*Noticias secundaroas*/
.noticia-secundaria {}

.noticia-secundaria .titulo {
    font-size: 22px;
    font-weight: 500;
}

.noticia-secundaria .descripcion {
    /*elipsis*/
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*Noticias*/
.noticias {}

.noticias>div {
    padding: 0;
    justify-content: space-between;
}

.noticias a {}

.noticias .titulo {
    font-size: 18px;
    font-weight: 500;
    min-height: 55px;
}

/*Separadores*/
.hr-noticia {
    border-top: solid #37ADBB 2px;
}

.hr-m-noticia {
    border-top: solid lightgray 3px;
}
