footer {
    max-width: 100%;
    width: 100%;
    background-color: #263238;
    padding: 10px 0px 25px 0px;
    background-size: cover;
}

footer>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.foote_bottom_ul_amrc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}
