.color-1 {
		color: #37ADBB;
}

.color-2 {
		color: #008080;
}

.opacity-0 {
    opacity: 0;
}

.visibility-hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.overflow-hidden-i {
		overflow: hidden !important;
}

.spinner-page-cont {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  left: 0;
  top:0;
  background-color: rgba(255, 255, 255, 0.7);
  align-items: center;
  justify-content: center;
  visibility: visible;
}

.spinner-img-cont {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
