.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
}

nav {
    height: 53px;
}

.nav-fostrap {
    display: block;
    margin-bottom: 15px 0;
    background: #03A9F4;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    z-index: 2;
}

.nav-fostrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.nav-fostrap li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 14;
    color: #def1f0;
    z-index: 1;
}

.nav-fostrap li a {
    padding: 15px 20px;
    font-size: 14;
    color: #def1f0;
    display: inline-block;
    outline: 0;
    font-weight: 400;
}

.nav-fostrap li ul.dropdown {
    position: absolute;
    display: none;
    width: 200px;
    background: #2980B9;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding-top: 0;
}

.nav-fostrap li ul.dropdown li {
    display: block;
    list-style-type: none;
}

.nav-fostrap li ul.dropdown li a {
    padding: 15px 20px;
    font-size: 15px;
    color: #fff;
    display: block;
    font-weight: 400;
}

.nav-fostrap li ul.dropdown li:last-child a {
    border-bottom: none;
}

.nav-fostrap li:not(.title-web):hover a {
    background: #2980B9;
    color: #fff !important;
}

.nav-fostrap li:first-child:hover a {
    border-radius: 3px 0 0 3px;
}

.nav-fostrap li ul.dropdown li:hover a {
    background: rgba(0, 0, 0, .1);
}

.nav-fostrap li ul.dropdown li:first-child:hover a {
    border-radius: 0;
}

.nav-fostrap li:hover .arrow-down {
    border-top: 5px solid #fff;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #def1f0;
    position: relative;
    top: 15px;
    right: -5px;
    content: '';
}

.title-mobile {
    display: none;
}

#nav-back {
    transition: background 0.5s ease-in-out;
}

.nav-right {
    float: right;
}

.title-web a {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-weight: 500 !important;
}

@media only screen and (max-width:900px) {
    .nav-fostrap {
        background: #fff;
        width: 200px;
        height: 100%;
        display: block;
        position: fixed;
        left: -200px;
        top: 0px;
        bottom:0
        -webkit-transition: left 0.25s ease;
        -moz-transition: left 0.25s ease;
        -ms-transition: left 0.25s ease;
        -o-transition: left 0.25s ease;
        transition: left 0.25s ease;
        margin: 0;
        border: 0;
        border-radius: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .title-mobile {
        position: absolute;
        display: block;
        top: 10px;
        font-size: 20px;
        left: 100px;
        right: 100px;
        text-align: center;
        text-decoration: none !important;
        color: inherit !important;
        color: #FFF !important;
        width: fit-content;
        margin: auto;
    }

    .nav-fostrap.visible {
        left: 0px;
        -webkit-transition: left 0.25s ease;
        -moz-transition: left 0.25s ease;
        -ms-transition: left 0.25s ease;
        -o-transition: left 0.25s ease;
        transition: left 0.25s ease;
    }

    .nav-bg-fostrap {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 50px;
        margin: 0;
        position: relative;
        /*absolute*/
        top: 0px;
        left: 0px;
        background: #03A9F4;
        padding: 12px 0 0 10px;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        z-index: 3;
    }

    .navbar-fostrap {
        display: inline-block;
        vertical-align: middle;
        height: 50px;
        cursor: pointer;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px;
    }

    .navbar-fostrap span {
        height: 2px;
        background: #fff;
        margin: 5px;
        display: block;
        width: 20px;
    }

    .navbar-fostrap span:nth-child(2) {
        width: 20px;
    }

    .navbar-fostrap span:nth-child(3) {
        width: 20px;
    }

    .nav-fostrap ul {
        padding-top: 50px;
    }

    .nav-fostrap li {
        display: block;
    }

    .nav-fostrap li a {
        display: block;
        color: #505050;
        font-weight: 600;
    }

    .nav-fostrap li:first-child:hover a {
        border-radius: 0;
    }

    .nav-fostrap li ul.dropdown {
        position: relative;
    }

    .nav-fostrap li ul.dropdown li a {
        background: #2980B9 !important;
        border-bottom: none;
        color: #fff !important;
    }

    .nav-fostrap li:hover a {
        background: #03A9F4;
        color: #fff !important;
    }

    .nav-fostrap li ul.dropdown li:hover a {
        background: rgba(0, 0, 0, .1);
         !important;
        color: #fff !important;
    }

    .nav-fostrap li ul.dropdown li a {
        padding: 10px 10px 10px 30px;
    }

    .nav-fostrap li:hover .arrow-down {
        border-top: 5px solid #fff;
    }

    .arrow-down {
        border-top: 5px solid #505050;
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .cover-bg {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .nav-right {
        width: 100%;
        float: right;
    }

    .title-web {
        display: none !important;
    }
}

@media (min-width: 900px) {
    ul.dropdown {
        display: none !important;
    }

    .nav-fostrap li:hover ul.dropdown {
        display: block !important;
    }

    .nav-fostrap li:hover ul.dropdown {
        display: block !important;
    }
}

/*SM*/
@media (min-width: 34em) {}

/*MD*/
@media (min-width: 48em) {}

/*LG*/
@media (min-width: 62em) {}

/*XL*/
@media (min-width: 75em) {}

.act {
    background: #2980B9;
}
