body {
  /* Evitar salto al abrir sweetalert*/
  overflow-y: scroll !important;
  /*Evitar espacio a la derecha del body al abrir un modal de bootstrap*/
  padding: 0 !important;
}

#listadoNoticias {
  visibility: hidden;
}
/*Datatable*/
#noticias > tbody > tr > td {
    word-break: break-all;
    vertical-align: middle;
}
/*Datatable multi check*/
#noticias > tbody > tr > td:first-child,
#noticias > tbody > tr > td:first-child * {
    user-select: none;
    cursor: pointer;
}
/*Datatable sing checks*/
.multi-check-cont,
.multi-check-cont * {
  cursor: pointer;
  user-select: none;
}

.dataTables_info {
  text-overflow: ellipsis;
  overflow: hidden;
}

.spinner-cont {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top:0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.user-select-none {
  user-select: none;
}

.cont-icono {
  line-height: 0;
  margin: 3px;
}
.cont-icono > i {
  font-size: 24.5px;
}

.tooltip {
  pointer-events: none;
}
