iframe {
    max-width: 100%;
}

html {
    height: 100%;
}

body {
    /* Evitar salto al abrir sweetalert*/
    overflow-y: scroll !important;
    display: flex;
    flex-flow: wrap;
    height: 100%;
}

nav {
    align-self: flex-start;
    width: 100%;
}

#noticiaUsuario {
    width: 100%;
    min-height: calc(100% - 53px);
}

footer {
    align-self: flex-end;
    opacity: 0;
}

#titulo * {
  color: #37ADBB;
}

#titulo > h1 {
  word-wrap: break-word;
}

#descripcion {
  word-wrap: break-word;
}

#cuerpo {
  max-width: 100%;
  margin-top: 15px;
}

#cuerpo > div {
  display: block;
  word-wrap: break-word;
}

#cuerpo > div {
  max-width: 100%;
}

#colaboradores > h5 {
    color: #37ADBB;
}

#contenido {
  margin: 0;
  border-left: solid #DCD7D7 1px;
}

#panelD {
  border-left: solid #DCD7D7 1px;
  border-right: solid #DCD7D7 1px;
  height: fit-content;
  padding-top: 20px;
}

#panelD > h4 {
    color: #37ADBB;
}

.colaborador {
  font-size: 14px;
  padding: 7px;
}

.colaborador:last-child {
  margin-right: 0;
}

.hr-noticia {
  border-top: solid #DCD7D7 1px;
}

.noticia-reciente {
  display: block;
  margin-bottom: 20px;
}

.noticias-recientes {
  padding: 0;
  padding-top: 20px;
}

.card-body {
  padding: 0;
  padding-top: 5px;
}

.noticias-recientes > a {
  text-decoration: none;
  color: black;
}

.noticias-recientes > a:hover {
  color: #37ADBB;
}

.card-title {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  word-wrap: break-word;
  /*elipsis*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.r-bordes {
  border: none !important;
}
