html {
    height: 100%;
}

body {
    /* Evitar salto al abrir sweetalert*/
    overflow-y: scroll !important;
    display: flex;
    flex-flow: wrap;
    height: 100%;
}

nav {
    align-self: flex-start;
    width: 100%;
}

#donacionesUsuario {
    width: 100%;
    min-height: calc(100% - 53px);
}

footer {
    align-self: flex-end;
    opacity: 0;
}

.donaciones {
    margin: 5px;
}

.donaciones a {
    display: block;
    text-decoration: none;
    color: black;
}

.card {
    padding: 5px;
    opacity: 0;
}

.card-body {
    padding: 5px;
}

.card-body strong {
    color: #3B3937;
}

.card-body p {
    color:gray;
}
